/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jqcloud
 */

body {
	margin: 0 auto;
	width: 100%;
}

.container-fluid {
	padding: 0px !important;
}

.mainContainer {
	padding: 30px;
	margin: 0 auto;
}

.btn-group {
	margin: 20px;
}

 .header {
 	width: 100%;
 	background-color: #BE9954;
 	font-size: 20px;
 	padding:20px;
 	color: white;
 	height: 75px;
 	-webkit-box-shadow: 1px 0px 6px 2px rgba(194,194,194,1);
	-moz-box-shadow: 1px 0px 6px 2px rgba(194,194,194,1);
	box-shadow: 1px 0px 6px 2px rgba(194,194,194,1);
 }

 .buttonBox{
height: auto;
width: auto;
margin: 10px;
 }

 .btn {
 	border-radius:5px !important;
 	margin: 5px;
 }

.wordCloudsBox {
	color: #5482BE;
	height: 500px;
	width: 100%;
	transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
}

.login {
	color: white;
  display: inline-block;
  position: absolute;
  right: 0px;
  padding-right: 20px;
}

.word {
	display: inline-block
}

.jqcloud {

}

.bookCover {
	height: 300px;
	width: 200px;
	position: relative;
	display:inline-block;
}

.bookCover::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	overflow: hidden;
	box-shadow: inset 10px -4px 10px rgba(0, 0, 0, 0.3), inset -3px 1px 5px rgba(0, 0, 0, 0.3), 5px 20px 30px rgba(0, 0, 0, 0.4), 1px 7px 13px rgba(0, 0, 0, 0.3), 0px -5px 30px rgba(0, 0, 0, 0.2) !important;
	z-index: 1;
	line-height: 0;
	border-radius: 3px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.chosenTitle {
	position: relative;
	height: auto;
	display: none;
	padding: 20px;
	-webkit-transition: all 1s ease-in-out;
 	 -moz-transition: all 1s ease-in-out;
  	-o-transition: all 1s ease-in-out;
	  transition: all 1s ease-in-out;
}

.chosenTitle.visible {
	display: block;
}

.bookDescription {
	  position: relative;
  	display: inline-block;

}

.fa-pulse {
	margin: 0 auto !important;
  position: absolute!important;
  display: block !important;
  visibility: hidden;
  z-index:	-1;
}

.monkey_keywords {
	width: 100%;
	height: 500px;
	background-color:gray;

}

#monkey_themes {
	text-align: center;
	position: relative;
	padding: 40px;
}

.single_result {
	display: block;
	margin:20px;
	height: 240px;
	position: relative;
	border-bottom: 1px solid gray;
	  padding-top: 15px;

}

.description_result {
	display: inline-block;
	position: absolute;
	 margin-top: 20px;

}

.cover_result {
	display: inline-block;
	position: relative;
	padding-right: 20px;
	  height: 195px;
 	 width: 150px;

}

#themesChart {
position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  margin-bottom: 40px;
}

/*w10, w9, w8, w7, w6, w5, w4, w3, w2, w1*/


/*colors:

1B4171

5482BE

FFD68A*/