/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jqcloud
 */

body {
	margin: 0 auto;
	width: 100%;
	font-family: 'Lato', sans-serif !important;
	font-size: 1.5em !important;
}

h1 {
	margin-bottom: 20px!important;
}

.container-fluid {
	padding: 0px !important;
}

.login_container {
	text-align: center
}

.login_box {
  width: 300px;
  /* position: relative; */
  display: inline-block;
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
  -webkit-box-shadow: 1px 0px 6px 2px rgba(194,194,194,1);
	-moz-box-shadow: 1px 0px 6px 2px rgba(194,194,194,1);
	box-shadow: 1px 0px 6px 2px rgba(194,194,194,1);
 
}

.login_box .actions {
	margin: 5px;
	margin-bottom: 10px;
}

.mainContainer {
	padding: 30px;
	margin: 0 auto;
}

.btn-group {
	margin: 20px;
}

 .header {
 	width: 100%;
 	background-color: #325C83;
 	font-size: 20px;
 	height: 75px;
 	padding:15px;
 	color: white;
 	-webkit-box-shadow: 1px 0px 6px 2px rgba(194,194,194,1);
	-moz-box-shadow: 1px 0px 6px 2px rgba(194,194,194,1);
	box-shadow: 1px 0px 6px 2px rgba(194,194,194,1);
 }

 .buttonBox{
	height: auto;
	width: auto;
	margin: 10px;
 }

 .btn {
 	border-radius:5px !important;
 	margin: 5px;
 }

 .title {
 	display: inline-block;
 	font-size: 25px
 }

.wordCloudsBox {
	color: #5482BE;
	height: 500px;
	width: 100%;
	transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
}

.cloudParams {
	margin:20px;
}

.findISBN {
	position: absolute;
	display: inline-block;
	 font-size: 18px;
	   color:black;
	right: 0px;
	margin-right: 20px;
	margin-top: 5px;
}

.findISBN label {
color:white;
}

.logo {
	height: 40px;
  width: 50px;
  margin-bottom: 10px;
  margin-right: 5px;
}

.login {
  display: block;
  position: absolute;
  right: 20px;
  top: 80px;
}

.login a {
}

.word {
	display: inline-block
}

.bookCover {
  	height: 170px;
  	width: 120px;
	position: relative;
	display:inline-block;
}

.bookCover::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	overflow: hidden;
	box-shadow: inset 10px -4px 10px rgba(0, 0, 0, 0.3), inset -3px 1px 5px rgba(0, 0, 0, 0.3), 5px 20px 30px rgba(0, 0, 0, 0.4), 1px 7px 13px rgba(0, 0, 0, 0.3), 0px -5px 30px rgba(0, 0, 0, 0.2) !important;
	z-index: 1;
	line-height: 0;
	border-radius: 3px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.bookCover img {
  width: 120px;
   height: 170px;
}

.chosenTitle {
	position: relative;
	height: auto;
  	padding-bottom: 30px;
}

.chosenTitle.visible {
	display: block;
}

.bookDescription {
	  position: relative;
  	display: inline-block;

}

#cloud_spinner {
	position: relative
}

#monkey_spinner {
	  top: 180px;
}

.spinnerBox {
	position: absolute;
  display: block;
  margin: 0 auto;
  right: 0;
  left: 0;
    top: 100px;
  width: 30px;
}

#rolled_shelves, #all_shelves {
	position: relative
}


.fa-pulse {
	margin: 0 auto !important;
  position: absolute!important;
  display: block !important;
  visibility: hidden;
  z-index:	-1;
}

.monkey_keywords {
	width: 100%;
	height: 500px;
	background-color:gray;

}

.single_result {
	display: block;
	margin:20px;
	height: 240px;
	position: relative;
	border-bottom: 1px solid gray;
	  padding-top: 15px;

}

.description_result {
	display: inline-block;
	position: absolute;
	 margin-top: 20px;

}

.cover_result {
	display: inline-block;
	position: relative;
	padding-right: 20px;
	  height: 195px;
 	 width: 150px;

}
#shelves_chart_box {
	text-align: center;
	position: relative;
	padding: 40px;
}

.shelvesChart {
	position: relative;
  	margin: 0 auto;
  	left: 0;
  	right: 0;
  	margin-bottom: 40px;
  	width: 900px !important;
  	height: 600px !important;
  	  display: inline-block;
}

#monkey_keywords {
	text-align: center;
	position: relative;
	padding: 40px;
}


#keywordsChart {
	position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  margin-bottom: 40px;
    margin-top: 40px;
}

.shelves_table {
	width: 20%;
}

.searchReviews {
  display: inline-block;
  right: 30px;
  top: 300px;
  position: absolute;
}

.shelves_error {
	  width: 500px;
  display: inline-block;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  margin-top: 50px;
}

.fa-arrow-up {
	top: 10px;
  	right: 370px;
	position:absolute;
	display: block;
}

.welcomeBox {
	width: 75%;
	position: absolute;
	display: inline-block;
	margin: 0 auto;
	right: 0;
	left: 0;
}

.blink_me {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-moz-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}



/*w10, w9, w8, w7, w6, w5, w4, w3, w2, w1*/


/*colors:

1B4171

5482BE

FFD68A*/