<div class="welcomeBox">
	<h1>Willkommen. Aloha. Hola Bella. Sup. </h1>
	<h2>Soon you'll be scraping reader reviews from Goodreads and Amazon like a "pro" or "BAMF" (wot wot) and performing all kinds of funky analysis.</h2>
	<h3>Analysis includes</h3>
	<ol>
		<li><h4>Schweet Word Clouds</h4></li>
		<li><h4>Mindblowing keyword extraction</h4></li>
		<li><h4>Slam-dunkering user shelves roll-ups</h4></li>
	</ol>
	<h1>To begin, search for a title , by author, keyword, or isbn above.</h1>
 </div>

 <i class="fa fa-arrow-up fa-3x fa-rotate-90 blink_me fa-inverse"></i>